@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    min-width: 500px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.grid-parent {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgb(43, 43, 43);
}

.cell {
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.cell:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

.cell div {
    font-size: 64px;
    font-weight: bold;
    color: white;
}

.bottom {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 20px;
}

.bottom button,
form button {
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: .2s;
}

.bottom button.change-players {
    margin-right: 10px;
}

.bottom button:hover,
form button:hover {
    cursor: pointer;    
    background-color: rgb(46, 46, 46);
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 700;
}

.result {
    margin-top: 20px;
    font-size: 42px;
}

.player-turn {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 18px;
}

input[type="text"] {
    height: 20px;
    font-size: 16px;
    width: 50%;
    margin-bottom: 15px;
}